<div class="${baseClass}">

	<table data-dojo-type="dojox.grid.DataGrid" data-dojo-attach-point="_gridWidget" data-dojo-props="autoHeight:true, autoWidth: true">
		<thead>
			<tr>
				<th field="firstName" width="170px">Имя</th>
				<th field="secondName" width="170px">Отчество</th>
				<th field="lastName" width="170px">Фамилия</th>
				<th field="_item" formatter="app.GridDialog._delBtnFormatter" width="170px">Удалить</th>
			</tr>
		</thead>
	</table>
	<br/><br/>

	<table>
		<thead>
			<tr>
				<th>Имя:</th>
				<th>Отчество:</th>
				<th>Фамилия:</th>
			</tr>
		</thead>
		<tr>
			<td style="width: 170px">
				<input data-dojo-type="dijit.form.TextBox" data-dojo-props="placeHolder: 'Введите имя'" data-dojo-attach-point="firstNameField">
			</td>
			<td style="width: 170px">
				<input data-dojo-type="dijit.form.TextBox" data-dojo-props="placeHolder: 'Введите отчество'" data-dojo-attach-point="secondNameField">
			</td>
			<td style="width: 170px">
				<input data-dojo-type="dijit.form.TextBox" data-dojo-props="placeHolder: 'Введите фамилию'" data-dojo-attach-point="lastNameField">
			</td>
			<td style="width: 170px">
				<div data-dojo-type="dijit.form.Button"	data-dojo-attach-point="buttonWidget" data-dojo-attach-event="onClick: _onAddClick" >
					Добавить
				</div>
			</td>
		</tr>
	</table>	

</div>